  <div class="row">
<% @recipes.each do |recipe| %>
    <div class="span3" id="recipe_container">
      <div><%= link_to(recipe.name, recipe) %></div>
      <div class="recipe_img"><%= image_tag(recipe.image) %></div>
      <div>Cooktime: <%= minutes_to_human(recipe.cooktime) %></div>
      <div>Serving Size : <%= recipe.servingsize %></div>
      <div>Instructions: <%= recipe.instructions %></div>
    </div>
<% end %>
  </div>


